<!doctype html>
<html lang="en">

	{% include 'backend/layout/head.html.twig' %}

	<body>
		<!--  Body Wrapper -->
		<div
			class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
			<!-- Sidebar Start -->
			{% include 'backend/layout/sidebar.html.twig' %}
			<!--  Sidebar End -->
			<!--  Main wrapper -->
				<div
				class="body-wrapper"> <!--  Header Start -->
				{% include 'backend/layout/header.html.twig' %}
				<!--  Header End -->
				<div class="container-fluid">
					{% if app.session.get('isGoogleAuth')==0 %}
						<div class="alert alert-danger" role="alert">
							You Need to Connect Google Drive to use application.
							<a href="javascript:;" style="text-decoration:none;" class="text-danger">
								<b>Connect Now!</b>
								<a></div>
							{% endif %}
							{% block content %}{% endblock %}
						</div>
					</div>
				</div>
			</body>

		</html>
	</body>
</html>
